body {
	background-color: white;
	padding-top: 110px;
	
	@media screen and ( max-width: $base + 40 + px ) {
		padding-top: get-vw(110);
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		padding-top: get-vw-mob(110);
	}
}