body {
	@include antialias;
	line-height: 1.3;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $regular;
	}
	color: $c-black;
}

a {
	@extend %anim;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	&:hover,
    &:active,
    &:focus {
        color: inherit;
        outline: none;
    }
}

blockquote {
	@extend %rel;
	padding-left: 40px;
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		padding-left: get-vw-mob(40);
	}
	
	&:before {
		@extend %abs-after;
		left: 0;
		width: 2px; height: 90px;
		background-color: $c-orange;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			height: get-vw(90);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			height: 100%;
		}
	}
	
	p {
		@extend %font-rift;
		text-transform: uppercase;
		font-style: italic;
		letter-spacing: 0;
		
		@media screen and ( max-width: $base + 2*$padding + px ) {
			font-size: get-vw(30);
		}
	}	
}

strong {
	font-weight: $bold;
}

::selection {
	background-color: $c-orange;
	color: white;
}