.o-bgfoto {
	display: block;
	will-change: opacity;

	@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 40 + px ) {
		width: grid(745);
	}
	
	
	
	&--extramargin {
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: get-vw-mob(230);
		}
	}
	
	&--narrow {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 40 + px ) {
			width: grid(448);
		}
	}
}