.o-btn {
	@extend %font-rift;
	display: inline-block;
	height: 48px;
	border-radius: 1px;
	padding: 0 35px;
	border: 1px solid #ccc;
	font-weight: $bold;
	white-space: nowrap;
	line-height: 48px;
	color: $c-orange;
	
	@media screen and ( max-width: $base + 2*$padding + px ) {
		height: get-vw(48);
		line-height: get-vw(48);
		padding: 0 get-vw(35);
		font-size: get-vw(18);
	}
	
	&:hover {
		background-color: $c-orange;
		border-color: $c-orange;
		color: white;
	}
}