.o-btn {
	@extend %font-rift;
	height: 48px;
	border-radius: 1px;
	padding: 0 35px;
	border: 1px solid #ccc;
	font-weight: $bold;
	white-space: nowrap;
	line-height: 1;
	text-align: center;
	color: $c-orange;
	
	&:hover {
		background-color: $c-orange;
		border-color: $c-orange;
		color: white;
	}
	
	@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
		height: get-vw(48);
		padding: 0 get-vw(35);
		font-size: get-vw(18);		
	}
	
	@media screen and ( max-width: $desktop + px ) {
		font-size: get-vw-desk(18);
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		height: get-vw-mob(72);
		font-size: get-vw-mob(27);
	}
}

a.o-btn {
	display: inline-flex;
    align-items: center;
}

button.o-btn {
	@media screen and ( min-width: $tablet_portrait + 1 + px ) {
		display: inline-flex;
	    align-items: center;
	}

	
	
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		width: 100%;
	}
}