.icon-hamburger:before {
  content: "\e90f";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-bill:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-faq:before {
  content: "\e904";
}
.icon-google-plus:before {
  content: "\e905";
}
.icon-lens:before {
  content: "\e906";
}
.icon-pay:before {
  content: "\e907";
}
.icon-phone-filled:before {
  content: "\e908";
}
.icon-phone-message:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-power:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}

