.o-wrap {
	@extend %rel;
	@extend %clear;
	//max-width: $base + 40 + px;
	width: 100%;
	height: 100%; 
	margin: 0 auto;
	padding: {
		left: 20px;
		right: 20px;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		max-width: $base3+px;
		padding: 0;
	}
}
