.c-contact {
	@extend %clear;
	@extend %rel;	
	
	@media screen and ( min-width: $tablet_portrait + 1 + px ) {
		top: -110px;
		width: grid($base2);
		margin: 0 auto;
		padding-left: 30px;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		background-image: url(../img/bg/v--bright.png);
		margin: 0;
		padding: get-vw-mob(70) grid(90, $base3);
	}
	
	article {

		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: left;
			width: grid(420, $base2);
		}		
		
		p {
			margin-bottom: 50px;
			line-height: 1.7;
			font-size: em(18);
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				margin-bottom: get-vw(50);
			}
			
			@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(18);
			}
			
			@media screen and ( max-width: $desktop + px ) {
				font-size: get-vw-desk(22);
				line-height: 1.4;
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				line-height: 1.5;
				font-size: get-vw-mob(24);
			}
		}
		
		blockquote {
			p {
				line-height: 1.2;
				font-size: em(24);
				color: #7d7d7d;
				
				@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
					font-size: get-vw(24);
				}
				
				@media screen and ( max-width: $desktop + px ) {
					font-size: get-vw-desk(26);
					line-height: 1.4;
				}
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					margin-bottom: get-vw-mob(90);
					font-size: get-vw-mob(32);
				}
			}
			
			a {
				white-space: nowrap;
				color: $c-orange;
				
				&:hover {
					border-bottom: 1px solid $c-orange;
				}
			}
		}
	}

	h3 {
		@extend %font-rift;
		margin-bottom: 40px;
		font: {
			size: em(60);
			weight: $demi;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			margin-bottom: get-vw(40);
			font-size: get-vw(60);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: get-vw-mob(40);
			font-size: get-vw-mob(60);
		}
	}
	
	&__form {		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: right;
			width: grid(1012, $base2);
			display: flex;
			justify-content: space-between;
		}
	}
	
	&__fields {
	
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: left;
			width: grid(450, 1012);
		}

		input {
			margin-bottom: 20px;
			
			@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				margin-bottom: get-vw(20);
			}
			
			@media screen and ( max-width: $desktop + px ) {
				margin-bottom: get-vw-desk(20);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: 10px;
			}
		}

		textarea {
			height: 268px;
			margin-bottom: 20px;
			
			@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				height: get-vw(268);
			}
			
			@media screen and ( max-width: $desktop + px ) {
				height: get-vw-desk(268);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: get-vw-mob(20);
				height: get-vw-mob(268);
			}
		}
	}
	
	.o-btn {

		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: right;
		}
		
		
	}
}