.c-info {
	padding-top: 10px;
	
	@media screen and ( max-width: $tablet_portrait + px ) { 
		padding-top: 30px;
	}

	h5 {
		font-size: em(14);
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			font-size: get-vw(14);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: get-vw-mob(30);
			font-size: get-vw-mob(24);
		}
	}

	&__iconlink {
		display: flex;
	    align-items: center;

		i {
			margin-right: 20px;
			font-size: em(60);
			color: $c-orange;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				margin-right: get-vw(20);
				font-size: get-vw(60);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-right: get-vw-mob(20);
				font-size: get-vw-mob(50);
			}
		}
		
		span {
			line-height: 1.1;
			text-transform: uppercase;
			font: {
				weight: $bold;
				size: em(16);
			}
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(16);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				font-size: get-vw-mob(32);
			}
			
			
		}
	}
	
	&__pay {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			display: flex;
		    align-items: center;
		    padding-top: 5px;
		}

		h5 {
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				padding-right: 40px;
			}
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				padding-right: get-vw(40);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				font-size: get-vw-mob(24);
			}
		}
		
		.o-btn {
			@media screen and ( max-width: $tablet_portrait + px ) {
				display: flex;
				justify-content: center;
			}
		}	
	}

	&__row {
		@extend %clear;
		margin-bottom: 45px;
		
		@media screen and ( max-width: $tablet_portrait + px ) { 
			margin-bottom: get-vw-mob(45);
		}
	}
	
	&__select {
		padding-top: 5px;
	}
	
	&__twolines {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			display: flex;
			justify-content: space-between;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: get-vw-mob(80);
		}
		
		> div {
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: get-vw-mob(30);
			}
		}

		p {
			display: block;
			line-height: 1;
			font: {
				family: $rift;
				size: em(21);
				weight: $demi;
			}
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(21);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: get-vw-mob(15);
				font-size: get-vw-mob(44);
			}
		}
		
		small {
			font: {
				size: em(10);
				weight: $bold;
			}
			text-transform: uppercase;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(10);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				font-size: get-vw-mob(20);
			}
		}
	}
	
	dt, dd {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: left;
		}
	}
	
	dt {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			width: grid(230, 600);
			padding-right: 30px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: get-vw-mob(30);
		}
		
		br {
			@media screen and ( max-width: $tablet_portrait + px ) {
				display: none;
			}
		}
	}
	
	dd {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			width: grid(370, 600);
		}
	}
}