.c-intro {
	@extend %rel;
	@extend %clear;
	margin: {
		left: auto;
		right: auto;
	}
	
	@media screen and ( min-width: $tablet_portrait + 1 + px ) {
		width: grid($base2);
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		width: grid(596, $base3);
	}
	
	&--top {
		z-index: 10;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			padding-bottom: get-vw(330);
			top: get-vw(-95);
		}
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			top: -95px;
			padding-bottom: 330px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			top: get-vw-mob(-130);
		}
	}
	
	&--bottom {
		z-index: 15;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			top: get-vw(-230);
		}
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			top: -230px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			top: get-vw-mob(-130);
		}
	}

	&__item {
		@extend %anim;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: left;
			margin-right: grid(112, $base2);
			width: grid(450, $base2);
			
			&:last-child {
				margin-right: 0;
			}
			
			&:hover {
				transform: translateY(30px);
				background-color: white;
				color: $c-black;
			}
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding-bottom: get-vw-mob(50);
		}		
	}

	&__photo {
		@extend %rel;
		margin-bottom: 50px;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			margin-bottom: get-vw(50);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: get-vw-mob(75);
		}
	}

	figcaption {
		padding: 0 30px;
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding: 0 get-vw-mob(44);
		}
	}

	p {
		margin-bottom: 1.8em;
		line-height: 1.8;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			margin-bottom: get-vw(35);
			font-size: get-vw(18);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: get-vw-mob(24);
			line-height: 1.5;
		}
	}
	
	.o-boxname {
		font-size: em(26);
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			font-size: get-vw(26);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: get-vw-mob(34);
		}
		
		
	}
}