.c-quick {
	background-color: $c-gray;
	padding-top: 65px;
	
	@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
		padding-top: get-vw(65);
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		padding-top: get-vw-mob(100);
	}
	
	&__wrapper {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			display: flex;
			justify-content: space-between;
			width: grid($base2);
			margin: 0 auto;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding: 0 grid(90, $base3);
		}
	}

	&__item {
		padding: 60px 0;
		border-top: 2px solid $c-orange;
		color: white;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			padding: get-vw(60) 0;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: column;
			
			width: grid(390, $base2);
			margin: 0 30px;
		}
		
		@media screen and ( max-width: $tablet_portrait + 1 + px ) {
			padding: get-vw-mob(60) 0;
			border-top: get-vw-mob(4) solid $c-orange;
		}
		
		h4 {
			@extend %font-rift;
			margin-bottom: 35px;
			font-size: em(26);
			line-height: 1;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				margin-bottom: get-vw(35);
			}
			
			@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(26);
			}
			
			@media screen and ( max-width: $desktop + px ) {
				font-size: get-vw-desk(26);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: get-vw-mob(35);
				font-size: get-vw-mob(38);
			}
		}
		
		p {
			margin-bottom: 70px;
			line-height: 1.7;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				margin-bottom: get-vw(70);
			}
			
			@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(18);
			}
			
			@media screen and ( max-width: $desktop + px ) {
				font-size: get-vw-desk(18);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: get-vw-mob(35);
				line-height: 1.5;
				font-size: get-vw-mob(26);
			}
		}
	}
	
	.o-btn {
		border-color: rgba(#b5b5b5, .65);
	}
}