.c-search {
	@extend %rel;
	float: right;
	width: grid(210);
	
	@media screen and ( max-width: $tablet + px ) {
		display: none;
	}
	
	input[type=text] {
		border-bottom: 1px solid #ebeced;
		padding: 10px 40px 10px 0;
		font-size: em(16);
		
		@media screen and ( max-width: $base + 2*$padding + px ) {
			font-size: get-vw(16);
		}
		
		@media screen and ( max-width: $desktop + px ) {
			font-size: get-vw(20);
		}
	}
	
	button {
		@extend %abs;
		@extend %anim;
		right: 0; top: 15px;
		font-size: em(22);
		
		@media screen and ( max-width: $base + 2*$padding + px ) {
			font-size: get-vw(22);
			top: get-vw(15);
			
		}
		
		&:hover {
			color: $c-orange;
		}
	}
}