.c-services {
	
	h2 {
		@extend %font-rift;
		margin-bottom: 30px;
		letter-spacing: 4px;
		line-height: 1.1;
		font: {
			size: em(80);
			weight: $demi;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
			font-size: get-vw(80);
			margin-bottom: get-vw(30);
		}
		
		@media screen and ( max-width: $tablet + px ) {
			line-height: 1;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: get-vw-mob(80);
			margin-bottom: get-vw-mob(30);
		}

	}
	
	&__copy {
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: grid(600);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding: get-vw-mob(100) grid(90, $base3) 0 grid(90, $base3);
		}
		
		article {
			//margin-bottom: 120px;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				//margin-bottom: get-vw(120);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: get-vw-mob(80);
			}

			
			p {
				margin-bottom: 1.7em;
				line-height: 1.7;
				
				@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
					margin-bottom: get-vw(35);
					font-size: get-vw(18);
				}
				
				@media screen and ( max-width: $desktop + px ) {
					line-height: 1.4;
					font-size: get-vw-desk(22);
				}
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					font-size: get-vw-mob(24);
				}
				
				&:last-of-type {
					@media screen and ( min-width: $tablet_portrait + 1 + px ) {
						margin: 0;
					}
				}
			}			

			blockquote {
				
				@media screen and ( min-width: $tablet_portrait + 1 + px ) {
					margin-left: grid(80, 600);
					padding-top: 80px;
				}
				
				@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
					padding-top: get-vw(80);
				}

				p {
					font-size: em(30);
					line-height: inherit;
					color: $c-orange;
					
					@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
						font-size: get-vw(30);
					}
					
					@media screen and ( max-width: $tablet_portrait + px ) {
						font-size: get-vw-mob(32);
					}
				}
			}
		}
		
		.section {
			@extend %font-rift;
			top: -140px;

			font: {
				size: em(24);
				weight: $bold;
			}
			color: $c-orange;	
			
			@media screen and ( min-width: $desktop + 1 + px ) {
				position: absolute;
				left: 0;
			}

			@media screen and ( min-width: $desktop + 1 + px ) and ( max-width: $base + 2*$padding + px ) {
				top: get-vw(-140);
				font-size: get-vw(24);
			}
			
			@media screen and ( max-width: $desktop + px ) {
				//top: get-vw-desk(-70);
				font-size: get-vw(24);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: get-vw-mob(25);
				font-size: get-vw-mob(24);
			}
		}	
		
		
	}

	&__item {
		@extend %anim;
		@extend %clear;
		@extend %rel;
		background-size: cover;

		&:nth-child(even) {
			background-image: url(../img/bg/v--dark.png);
			color: white;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				.c-services__copy {
					right: grid(140);
				}
				
				.c-squares {
					left: 0;
				}
			}
		}
		
		&:nth-child(odd) {
			background-image: url(../img/bg/v--bright.png);
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				.c-services__copy {
					left: grid(140);
				}
				
				.o-bgfoto {
					float: right;
				}
	
				.c-squares {
					right: 0;
				}
			}
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				.c-squares {
					margin-bottom: get-vw-mob(-450);
				}
			}
			
			&:nth-child(5) {
				.c-squares {
					margin-bottom: get-vw-mob(-750);
				}
			}
			
			&:nth-child(6) {
				.c-squares {
					display: none;
				}
			}
		}
		
		&--first {
			opacity: 0;
		}
		
		&--mobile {
			@media screen and ( max-width: $tablet_portrait + px ) {
				background-image: url(../img/bg/v--dark.png) !important;
			
				figure {
					color: white !important;
				}
			}			
		}
		
		&--rel {
			@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $tablet_portrait  + px ) {
				.o-bgfoto {
					position: absolute;
					height: 100%;
					right: 0;
					top: 0;
					overflow: hidden;
	
					img {
					    position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: auto;
						max-width: none;
					}
				}
			
				.c-services__copy {
					position: relative;
					top: auto;
					transform: none;
					
					float: left;
					padding-top: 70px;
					padding-bottom: 140px;
					
					blockquote {
						p {
							font-size: get-vw-desk(30) !important;						
						}
					}
					
					.section {
						margin-bottom: 40px;
					}
				}
			}
			/*

			@media screen and ( min-width: 1381+ px ) {
				.o-bgfoto {
					img {
						height: auto;
						width: 100%;
					}
				}
			}
*/
		}
	}
	
	&__news {
		padding-top: 15px;
		border-top: 2px solid $c-orange;
		color: $c-orange;

		@media screen and ( max-width: $tablet_portrait + px ) {
			display: none;
		}

		dt {
			@extend %font-rift;
			float: left;
			font-size: em(24);
			line-height: 1;
			
			@media screen and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(24);
			}
		}
		
		dd {
			float: right;
			width: grid(465, 600);
			
			@media screen and ( max-width: $base + 2*$padding + px ) {
				font-size: get-vw(18);
			}
		}
		
		.date {
			font-size: em(12);
		}
		
		.title {
			display: block;
		}
	}
	
	
	
}

