// Fonts

$proxima:		'Proxima Nova', sans-serif;
$rift:			'Rift', sans-serif;

$text:			$proxima;


// Font weights

$light:				300;
$regular:			400;
$demi:				600;
$medium:			500;
$bold:				700;


// Default

$base-font-size:	18;
$base:				1790;
$base2:				1574;
$base3:				684;

$padding:				20;

$desktop:				1400;
$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			480;
$smartphone_portrait:	365;